body {
    background-color:#A80582;
}

html, body {
margin: 0;
padding: 0;
}

header {
    text-align: center;
    background-color: #ffffff80;
    padding: 32px;
}

header .pfp {
    width: 300px;
    height: 300px;
    border: 18px solid #E5B1D5;
    border-radius: 50%;
    background-image: url(/giggy/images/giggy.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: 0 auto;
}

header h1 {
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 64px;
    margin: 12px 0px 8px 0px;
    color: #66024f;
    }

header p {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 32px;
    margin: 0;
    color: #000000
}

main {
    width: 800px;
    margin: 0 auto;
}

h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 48;
    margin: 0;    
}

.likes-row {
    display: flex;
    align-items: center;
    gap: 8px; /* space between icon and text */
  }

.likes-row .material-symbols-outlined {
    font-variation-settings:
      'FILL' 0,
      'wght' 400,
      'GRAD' 0,
      'opsz' 1.5em;
    font-size: 1.5em; /* optional, adjust size */
    color: #E5B1D5;   /* optional, set your color */
  }

.dislikes-row {
    display: flex;
    align-items: center;
    gap: 8px; /* space between icon and text */
  }

.dislikes-row .material-symbols-outlined {
    font-variation-settings:
      'FILL' 0,
      'wght' 400,
      'GRAD' 0,
      'opsz' 1.5em;
    font-size: 1.5em; /* optional, adjust size */
    color: #E5B1D5;   /* optional, set your color */
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  